<template>
    <apexchart type="scatter" height="350" :options="chartOptions" :series="series"></apexchart>
</template>

<script>
import { mapState } from "vuex"

export default ({
    name: 'DispersionDiagram',
    props: ['dependentVariable'],
    data: () => ({
        series: [],
        chartOptions: {},            
    }),
    mounted(){
        this.getSeries();
        this.addTitleDependentVariable()
    },
    methods:{
        getSeries(){
            const indexDependentVariable = this.data.findIndex(element => element.name == this.dependentVariable)
            const objectIndependentVariable = [];
            this.data.forEach((element,index) => {
                if(index != indexDependentVariable){
                    objectIndependentVariable.push(element)
                }
            });
            const objectDependentVariable = this.data.find(element => element.name == this.dependentVariable)
            objectIndependentVariable.forEach((element, index) => {
                this.series.push({name: element.name})
                const valuesData = []
                element.values.forEach((elementNum, indexNum) => {
                    valuesData.push([elementNum, objectDependentVariable.values[indexNum]])
                })
                this.series[index]['data'] = valuesData;
            })
           this.series
        },
        addTitleDependentVariable(){
            this.chartOptions = {
                chart: {
                    height: 350,
                    type: 'scatter',
                    zoom: {
                    enabled: true,
                    type: 'xy'
                    }
                },
                xaxis: {
                    tickAmount: 10,
                    labels: {
                    formatter: function(val) {
                        return parseFloat(val).toFixed(1)
                    }
                    }
                },
                yaxis: {
                tickAmount: 7,
                    title: {
                        text: this.dependentVariable
                    }
                }
            }
        }
    },
    computed:{
        ...mapState(['data'])
    }
})
</script>
