<template>
    <div class="up-space">
        <v-card>
            <v-card-title class="subheading font-weight-bold">
            {{nameDepedentVariable}}
            </v-card-title>
            <v-divider></v-divider>
            <v-list dense>
            <v-list-item v-for="element in regression" :key="element.id">
                <v-list-item-content>{{element.name}}:</v-list-item-content>
                <v-list-item-content class="align-end">
                y = {{element.intercept}} + {{element.slope}}x
                </v-list-item-content>
            </v-list-item>
            </v-list>
        </v-card>
    </div>
</template>

<script>
import { mapState } from "vuex";


export default ({
    name: 'RegressionLine',
    props: ['nameDepedentVariable'],
    data: () => ({
        regression: []
    }),
    mounted(){
        this.getRegression();
    },
    methods:{
        getRegression(){
            let dependentVariable = this.data.find(element => element.name == this.nameDepedentVariable)
            this.regression = this.data.map(element => {
                if(element.name != this.nameDepedentVariable){
                    let linearRegression = this.linearRegression(element.values, dependentVariable.values);
                    linearRegression['name'] = element.name;
                    return linearRegression;
                }
            })
            this.regression = this.regression.filter(element => element != undefined);
        },
        linearRegression(x, y){
            var lr = {};
            var n = y.length;
            var sum_x = 0;
            var sum_y = 0;
            var sum_xy = 0;
            var sum_xx = 0;
            var sum_yy = 0;
            for (var i = 0; i < y.length; i++) {
                sum_x += x[i];
                sum_y += y[i];
                sum_xy += (x[i]*y[i]);
                sum_xx += (x[i]*x[i]);
                sum_yy += (y[i]*y[i]);
            } 
            lr['slope'] = (n * sum_xy - sum_x * sum_y) / (n*sum_xx - sum_x * sum_x);
            lr['intercept'] = (sum_y - lr.slope * sum_x)/n;
            lr['r2'] = Math.pow((n*sum_xy - sum_x*sum_y)/Math.sqrt((n*sum_xx-sum_x*sum_x)*(n*sum_yy-sum_y*sum_y)),2);
            return lr;
        }
    },
    computed:{
        ...mapState(['data'])
    }
})
</script>

<style scoped>
.up-space{
    padding-top: 20px;
}
</style>
