<template>
    <div id="chart">
      <div class="title-chart">
            <v-divider></v-divider>
        </div>
        <h3 class="text-align-title">Contraste datos de entrada</h3>
        <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
    
</template>

<script>
import { mapState } from 'vuex';

export default {
    name:"ChartArea",
    props:['variables'],

    data:()=>({

          series: [],
          chartOptions: {
            chart: {
              type: 'bar',
              height: 350,
              stacked: true,
              toolbar: {
                show: true
              },
              zoom: {
                enabled: true
              }
            },
            responsive: [{
              breakpoint: 480,
              options: {
                legend: {
                  position: 'bottom',
                  offsetX: -10,
                  offsetY: 0
                }
              }
            }],
            plotOptions: {
              bar: {
                horizontal: false,
                borderRadius: 10
              },
            },
            xaxis: {
              type: 'string',
              categories: [],
            },
            legend: {
              position: 'right',
              offsetY: 40
            },
            fill: {
              opacity: 1
            }
        } 
    }),
    mounted(){
        this.identificarVar();
    },
    methods:{
        identificarVar(){
            this.variables.forEach(element=>{
                this.series.push({'name':element.name,'data':element.values});
                this.chartOptions.xaxis['type']='variables';
                for (let i=0;i<element.values;i++){
                    this.chartOptions.xaxis.categories.push(`var ${i}`);
                }
            })
        },
        generarLetra(){
            var letras = ["a","b","c","d","e","f","0","1","2","3","4","5","6","7","8","9"];
            var numero = (Math.random()*15).toFixed(0);
            return letras[numero];      
        },
        colorHEX(){
            var coolor = "";
            for(var i=0;i<6;i++){
                coolor = coolor + this.generarLetra() ;
            }
            return "#" + coolor;
        }        

    },
    computed:{
        ...mapState(['data'])
    }

}

</script>

<style scoped>
    .title-chart{
        margin: 40px 0;
    }
    .text-align-title{
        text-align: center;
        padding: 20px 0;
    }
    .center-text{
        text-align: center;
        margin: 30px 0;
    }
</style>