<template>

    <div v-if="active">
       <div class="title-chart">
            <v-divider></v-divider>
        </div>       
      <h3 class="center-text">Mediana</h3>
       
        <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>

<script>
export default {
    name: 'ChartBar',
    props: ['dataChart'],
    data:() => ({
        active: false,
        series: [],
          chartOptions: {
            chart: {
              type: 'bar',
              height: 350
            },
            plotOptions: {
              bar: {
                horizontal: false,
                columnWidth: '55%',
                endingShape: 'rounded'
              },
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              show: true,
              width: 2,
              colors: ['transparent']
            },
            xaxis: {
              categories: [],
            },
            fill: {
              opacity: 1
            },
          }
    }),
    mounted(){
        this.modeAndMedianDataEntry();
        this.active = true;
    },
    methods:{
        median(arr){
            const lengthArray = arr.length;
            return lengthArray % 2 == 0 ? arr.slice(lengthArray/2-1, lengthArray/2+1).reduce((a,b) => a+b)/2 
                                       : arr.slice((lengthArray/2), lengthArray/2+1)[0]            
        },
        modeAndMedianDataEntry(){
            // const mode = {name: 'Moda', data: []}
            const median = {name: 'Mediana', data: []}
            const categories = [];
            this.dataChart.forEach(element => {
                // mode.data.push(this.mode(element.values).mode.slice(-1)[0]);
                median.data.push(this.median(element.values));
                categories.push(element.name);
            });
            // this.series.push(mode);
            this.series.push(median);
            this.chartOptions.xaxis.categories = categories;
        }
    }
}
</script>
<style scoped>
    .title-chart{
        margin: 40px 0;
    }
    .text-align-title{
        text-align: center;
        padding: 20px 0;
    }
    .center-text{
        text-align: center;
        margin: 30px 0;
    }
</style>