<template>
    <div>
        <div class="title-chart">
            <v-divider></v-divider>
        </div>
        <h3 class="center-text">Box-Plot con base a los datos de entrada</h3>
        <apexchart v-if="active" type="boxPlot" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>

<script>
export default({
    name: 'ChartBoxplot',
    props:['dataChart'],
    data: () => ({
        active:false,
        series: [
            {
            name: 'box',
            type: 'boxPlot',
            data: []
            },
        
        ],
        chartOptions: {
            chart: {
            type: 'boxPlot',
            height: 350
            },
            colors: ['#008FFB', '#FEB019'],
            title: {
            align: 'left'
            },
            tooltip: {
            shared: false,
            intersect: true
            }
        },
    }),
    mounted(){
        this.dataInfo();
        this.active = true;
    },
    methods:{
        dataInfo(){
            this.series[0].data = this.dataChart.map(element => {
                return {
                    x: element.name,
                    y: element.values.sort(function(a,b){return a - b;})
                }
            })
        }
    }
})
</script>

<style scoped>
    .title-chart{
        margin: 20px 0px 20px 5px;
    }
    .center-text{
        text-align: center;
        margin: 30px 0;
    }
</style>
