<template>
    <div>
        <div class="title-chart">
            <v-divider></v-divider>
        </div>
        <div v-if="active">
            <v-row>
            <v-col
                cols="12"
                md="6"
            >
                <h3 class="text-align-title">Media</h3>
                <apexchart height="350" type="polarArea" :options="chartOptions" :series="seriesMedia"></apexchart>
            </v-col>
            <v-col
                cols="12"
                md="6"
            >
                <h3 class="text-align-title">Varianza</h3>
                <apexchart height="350" type="polarArea" :options="chartOptions" :series="seriesVarianza"></apexchart>
            </v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ChartPolarArea',
    props: ['dataChart'],
    data: () => ({
        active: false,
        seriesVarianza: [1,2],
        seriesMedia: [1,2],
        chartOptions: {
            labels: [],
            chart: {
            type: 'polarArea',
            },
            stroke: {
            colors: ['#fff']
            },
            fill: {
            opacity: 0.8
            },
            responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                width: 200
                },
                legend: {
                position: 'bottom'
                }
            }
            }]
        },
    }),
    mounted(){
        this.setSeries();
        this.setLabelsOptions();
        setTimeout(() => {
            this.active = true;
        }, 200);
        this.active = false;
    },
    methods:{
        setSeries(){
            this.seriesMedia = this.dataChart.map(element => {
                return parseFloat(element['media'])
            });
            this.seriesVarianza = this.dataChart.map(element => {
                return parseFloat(element['varianza'])
            });
        },
        setLabelsOptions(){
            this.chartOptions.labels = this.dataChart.map(element => {
                return element.name
            });
        }
    }
}
</script>

<style scoped>
    .title-chart{
        margin: 40px 0;
    }
    .text-align-title{
        text-align: center;
        padding: 20px 0;
    }
</style>