<template>
    <div>
        <h4 class="center-text">Valor con mayor frecuencia</h4>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                    <th class="text-left">
                        Numero
                    </th>
                    <th class="text-left">
                        Repeteciones
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                    v-for="item in desserts"
                    :key="item.name"
                    >
                    <td>{{ item.name }}</td>
                    <td>{{ item.repeat }}</td>
                    </tr>
                </tbody>
            </template>
        </v-simple-table>
         
        <h4 class="center-text">Frecuencia de datos de la variable {{variableChart}}</h4>
        <apexchart v-if="active" type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
    </div>
</template>
<script>
export default{
    name: 'ChartColorColumn',
    props: ['variableChart', 'dataChart'],
    data: () => ({
        active: false,
        // colors: ['#A6F25A', '#F2C45A'],
        series: [{
            name: 'repeticiones',
            data: []
        }],
        chartOptions: {
            chart: {
              height: 350,
              type: 'bar',
            },
            // colors: [],
            plotOptions: {
              bar: {
                columnWidth: '45%',
                distributed: true,
              }
            },
            dataLabels: {
              enabled: false
            },
            legend: {
              show: false
            },
            xaxis:{}
        },
        desserts: [],
    }),
    mounted(){
        const variable = this.dataChart.filter(element => element.name == this.variableChart);
        if(variable){
            this.tablePrint(variable);
            this.chartValues(variable);
        }
        this.active = true;
    },
    methods:{
        mode(values) {
            const [repeat, mode] = values.reduce(
                (acc, val) => {
                const nn = this.countElements(values, val);
                if (nn === acc[0] && acc[1].every((item) => item !== val)) {
                    acc[1].push(val);
                } else if (nn > acc[0]) {
                    acc = [nn, [val]];
                }
                return acc;
                },
                [0, []]
            );
            return { repeat, mode };
        },
        countElements(elementsArray, countValue) {
            return elementsArray.filter((element) => element === countValue).length;
        },
        tablePrint(variable){
            const tableInfo = this.mode(variable[0].values);
            const infoDesserts = tableInfo.mode.map(element => ({ name: element, repeat: tableInfo.repeat }))
            this.desserts = infoDesserts;
        },
        chartValues(variable){
            const dataRepeat = variable[0].values.filter(function(item, index, array) {
                return array.indexOf(item) === index;
            })
            const dataMode = dataRepeat.map(element => variable[0].values.filter(num => num == element).length)
            const xaxis = {
                categories: dataRepeat,
                labels: {
                    style: {
                    fontSize: '12px'
                    }
                }
            }
            this.series[0].data = dataMode;
            this.chartOptions.xaxis = xaxis;
        }
    }
}
</script>
<style scoped>
    .title-chart{
        margin: 20px 0px 20px 5px;
    }
    .center-text{
        text-align: center;
        margin: 30px 0;
        font-size: 15px;
    }
</style>