<template>
<div>

    <h1 class="center-title">
        Datos para el estudio.
    </h1>
    <Table />

    <h2 class="space-title-result">Resultados por variable</h2>
    <v-data-table
        :headers="headers"
        :items="desserts"
        :items-per-page="5"
        class="elevation-1"
    ></v-data-table>
    <!-- Select Graphics -->
    <h2 class="center-text">Graficas de los datos de entrada</h2>
    <!-- Select Graphics -->
    <!-- Graphics -->
    <div v-if="active">
        <ChartBoxPlot :dataChart="data"/>
        <ChartPolarArea :dataChart="data"/>
        <ChartBar :dataChart="data"/>
        <div>
            <div class="title-chart">
                <v-divider></v-divider>
             </div>
            <h3 class="center-text">Moda</h3>
            <v-select
                :items="namePluck"
                v-model="variableSelected"
                label="Variable"
                dense
                outlined
            ></v-select>
            <ChartColorColumn v-if="variableSelected != '' && activeLineColumn" :variableChart="variableSelected" :dataChart="data"/>
        </div>
        <ChartArea :variables="data"/>
    </div>
    <!-- Graphics -->
</div>
</template>

<script>
import { mapState } from 'vuex';
import Table from './Table';
import ChartBoxPlot from './charts/ChartBoxPlot';
import ChartPolarArea from './charts/ChartPolarArea';
import ChartArea from './charts/ChartArea';
import ChartBar from './charts/ChartBar';
import ChartColorColumn from './charts/ChartColorColumn';

export default {
    name:"Analytics",
    components:{
        Table,
        ChartBoxPlot,
        ChartPolarArea,
        ChartArea,
        ChartBar,
        ChartColorColumn
    },        
    data:()=>({
        active: false,
        activeLineColumn: true,
        headers: [
          {
            text: 'Varibles calculadas',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'Media poblacional', value: 'media' },
          { text: 'Varianza poblacional', value: 'varianza' },
          { text: 'Desviacion estandar', value: 'desviacion' },
          { text: 'Coeficientes de varianza', value: 'cvar' },          
        ],
        desserts: [],
        media:[],

        variableSelected: ''
    }),
    mounted(){
        this.crearResTabla();
        this.active = true;
    },
    methods:{
        calcularMedia(){   
            this.data.forEach(element=>{            
                const total = element.values.reduce((a, b) => a + b, 0);
                element.media = total/element.values.length
            })
        },        
        calVarianzayDesv(){
            this.calcularMedia();
            let nv=[];
            let vza=0;
            this.data.forEach(element=>{                
                element.values.forEach(function(a){nv.push(Math.pow(a-element.media,2))});
                element.values.forEach(function(a){vza += a;});
                element['varianza']=(vza/element.media).toFixed(3);
                element['deviacionEst']=Math.sqrt(element.varianza,2).toFixed(3);
                element['coefiCienteVar']=(element.deviacionEst/element.media).toFixed(3);
            })
        },
        crearResTabla(){
            this.calVarianzayDesv();
            this.data.forEach(element=>{
                this.desserts.push({
                    "name": element.name,
                    "media": element.media,
                    "varianza": element.varianza,
                    "desviacion": element.deviacionEst,
                    "cvar": element.coefiCienteVar
                    });
            })
        },
        pluck: (key) => array => Array.from(new Set(array.map(obj => obj[key]))),
    },
    computed:{
        ...mapState(["data"]),
        namePluck(){
            const name = this.pluck('name');
            return name(this.data)
        },
    },
    watch:{
        variableSelected(){
            setTimeout(() => {
                this.activeLineColumn = true;
            }, 100);
            this.activeLineColumn = false;
        }
    }

}
</script>

<style scoped>
    .title-chart{
        margin: 40px 0;
    }
    .select-space{
        margin: 50px 0;
    }
    .center-title{
        text-align: center;
    }
    .center-text{
        text-align: center;
        margin: 30px 0;
    }
    .space-title-result{
        text-align: center;
        margin: 10px 0;
    }
</style>