<template>
  <div>
    <div class="text-center">
      <v-btn
        class="ma-2"
        outlined
        large
        fab
        color="red"
        @click="removeColumn()"
      >
        <v-icon>mdi-table-column-remove</v-icon>
      </v-btn>
      <v-btn
        class="ma-2"
        outlined
        large
        fab
        color="green darken-2"
        @click="addColumn()"
      >
        <v-icon>mdi-table-column-plus-before</v-icon>
      </v-btn>
    </div>
    <v-form v-model="valid">
      <v-container>
        <!-- Title column -->
        <v-row>
          <v-col v-for="(element, index) in dataEntry" :key="element.id"
            cols="12"
            :md="sizeInputColumn()"
          >
            <v-text-field
              v-model="element.name"
              :rules="nameRules"
              :label='nameColumn(index)'
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <!-- Title column -->
        <!-- Number Rows -->
        <v-row v-for="(row, indexRow) in rows" :key="row.id">
          <v-col v-for="(element, index) in dataEntry" :key="element.id"
            cols="12"
            :md="sizeInputColumn()"
          >
            <v-text-field
              v-model="element.values[indexRow]"
              :rules="nameRules"
              :label='nameColumnValue(index, indexRow)'
              type="number"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <!-- Number Rows -->
      </v-container>
    </v-form>
    <div class="text-center">
      <v-btn
        class="ma-2"
        outlined
        large
        fab
        color="red"
        @click="removeRow()"
      >
        <v-icon>mdi-table-row-remove</v-icon>
      </v-btn>
      <v-btn
        class="ma-2"
        outlined
        large
        fab
        color="green darken-2"
        @click="addRow()"
      >
      <v-icon>mdi-table-row-plus-after</v-icon>
    </v-btn>
    <br>
    <v-btn
        :disabled="!valid"
        block
        outlined
        color="purple darken-2"
        @click="sendData()"
      >
      <v-icon>mdi-send</v-icon>
    </v-btn>
    </div>
    <div v-if="messageAlert != ''">
      <v-alert
      border="top"
      color="red lighten-2"
      dark
      >
        {{ messageAlert }}
      </v-alert>
    </div>
  </div>
</template>

<script>

  import { mapMutations, mapState } from 'vuex';

  export default {
    name: 'Dataset',
    data: () => ({
      valid: false,
      rows: 1,
      dataEntry: [{
        name: '',
        values: []
      }],
      nameRules: [
        v => !!v || 'No puede estar vacio',
      ],
      messageAlert: ''
    }),
    mounted(){
      this.printDataDefault();
      this.printRowsDefault();
    },
    methods:{
      ...mapMutations(['setData', 'changeActive']),
      //Columns
      addColumn(){
        this.dataEntry.length < 12 && this.dataEntry.push({name: '', values : []});
        this.changeActive(false);
      },
      removeColumn(){
        this.dataEntry.length > 1 && this.dataEntry.pop();
        this.changeActive(false);
      },
      nameColumn(index){
        return `Nombre variable ${index + 1}`;
      },
      nameColumnValue(index, indexRow){
        return this.dataEntry[index].name ? `valor de ${this.dataEntry[index].name} ${indexRow + 1}` : 'Sin nombre de variable';
      },
      sizeInputColumn(){
        return Math.trunc(12/this.dataEntry.length);
      },
      //Rows
      addRow(){
        this.rows += 1;
        this.changeActive(false);
      },
      removeRow(){
        this.rows = this.rows > 1 ? this.rows - 1 : this.rows;
        this.dataEntry.forEach(element => element.values.pop())
        this.changeActive(false);
      },
      //sendData
      sendData(){
        if (this.dataEntry.find(element => element.name == '')){ 
          this.messageAlert = 'Falta el nombre de alguna columna';
          this.changeActive(false);
          return;
        }
        this.messageAlert = '';
        this.dataEntry.forEach(element => {
          //if the number is a Null, else is equal to 0
          element.values = Array.from(element.values, num => num ? num : 0)
          //Convert string to number
          element.values = Array.from(element.values, num => parseInt(num, 10))
        });
        this.setData(this.dataEntry);
        this.changeActive(true);
      },
      //Print init
      printDataDefault(){
        this.dataEntry = this.data.length > 0 ? this.data :  this.dataEntry;
      },
      printRowsDefault(){
        this.rows = this.dataEntry[0].values.length > 1 ? this.dataEntry[0].values.length : 1 
      }
    },
    computed:{
      ...mapState(['data']),
    }

  }
</script>