<template>
   <div>
        <Table />
        <v-divider
        inset
        ></v-divider>
        <br>
        <div class="center-title-chart">
            <h2>¿Con respecto a que variable deseas el diagrama de dispersión?</h2>
        </div>
        <div class="space-button">
            <v-row
                align="center"
                justify="space-around"
            >
                <v-btn text v-for="element in namePluck" :key="element.id"
                color="warning" @click="elementSelected(element)">
                {{element}}
                </v-btn>
            </v-row>
        </div>
        <div v-if="activeDispersion">
            <DispersionDiagram  :dependentVariable="elementDependentVariable"/>
            <div class="center-title-chart">
                <h2>Regresion lineal de cada variable con respecto a {{elementDependentVariable}}</h2>
                <div class="center-table">
                    <RegressionLine :nameDepedentVariable="elementDependentVariable"/>
                </div>
            </div>
        </div>
   </div>
</template>

<script>

import { mapState } from 'vuex';
import Table from './Table';
import DispersionDiagram from './RegressionCharts/DispersionDiagram';
import RegressionLine from './RegressionCharts/RegressionLine';

export default ({
    name: 'Regression',
    components:{
        Table,
        DispersionDiagram,
        RegressionLine
    },
    mounted(){
    },
    data: () => ({
        activeDispersion: false,
        elementDependentVariable: ''
    }),
    methods:{
        pluck: (key) => array => Array.from(new Set(array.map(obj => obj[key]))),
        elementSelected(element){
            this.elementDependentVariable = element;
            setTimeout(() => {
                this.activeDispersion = true;
            }, 100);
            this.activeDispersion = false;
        }
    },
    computed:{
        ...mapState(['data']),
        namePluck(){
            const name = this.pluck('name');
            return name(this.data)
        },
    }
})
</script>

<style scoped>
.center-title-chart{
    text-align: center;
    margin: 40px 0;
}
.space-button{
    margin-bottom: 20px;
}

</style>