
<template>
  <div>
    <v-card>
        <v-card-title>
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
        ></v-text-field>
        </v-card-title>
        <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
        ></v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default ({
    name: 'RegressionCorrelation',
    data: () => ({
        search: '',
    }),
    computed:{
        ...mapState(['data']),
        headers(){
            const headers = [];
            this.data.forEach(element => {
                headers.push({text: element.name, value: element.name.split(' ').join('-')})    
            });
            return headers;
        },
        desserts(){
            const desserts = [];
            this.data.forEach((element, indexColumn) => {
                element.values.forEach((elementNumber, indexRow) => {
                    indexColumn == 0 && desserts.push({})
                    desserts[indexRow][element.name.split(' ').join('-')] = elementNumber
                })
            })
            return desserts;
        }
    }
})
</script>