<template>
  <v-app id="inspire">
    <!-- menu banner -->
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list>
        <v-list-item link @click="componentSelect(linkDefault[2])">
          <v-list-item-icon>
            <v-icon>{{ linkDefault[0] }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ linkDefault[1] }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <div v-if="active">
          <v-list-item
            v-for="[icon, text, component] in links"
            :key="icon"
            link
            @click="componentSelect(component)"
          >
            <v-list-item-icon >
              <v-icon>{{ icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
      <!-- menu-banner -->
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Analisis de Datos</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <!-- main -->
      <Regression v-if="componentEnable == 'regression'"/>
      <Analytics v-else-if="componentEnable=='analytics'"/>
      <Dataset v-else/>
      <!-- main -->
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';
import Dataset from './components/Dataset';
import Regression from './components/Regression';
import Analytics from  './components/Analytics';


export default {
  name: 'App',
  components: {
    Dataset,
    Regression,
    Analytics,
  },
  data: ()=> ({
    drawer: null,
    cards: ['Today', 'Yesterday'],
    linkDefault: ['mdi-file-chart', 'Dataset', 'dataset'],
    links: [
      ['mdi-chart-areaspline', 'Analisis', 'analytics'],
      ['mdi-chart-bubble', 'Regresion', 'regression'],
    ],
    componentEnable: ''
  }),
  mounted(){
    console.log("Realizado por: \n Cristian Javier Martinez Blanco \n Gabriel Parra Cortes \n Juan David Pardo Rodriguez")
  },
  methods:{
    componentSelect(component){
      this.componentEnable = component;
    }
  },
  computed:{
    ...mapState(['active'])

  } 
};
</script>
